<div class="container">
  <div>
    <img src="/assets/logo.png" height="350px" />
  </div>
  <mat-card class="container-login">
    <mat-card-content>
      <h1>Bem vindo (a)!</h1>
      <p>Insira seu CPF para utilizar o sistema</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <input formControlName="cpf" matInput mask="000.000.000-00" />
        </mat-form-field>

        <button [disabled]="form.invalid" mat-flat-button color="primary">
          Entrar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
